// Colors
$blue: #258DF5;
$light-gray: #2F3942;
$dark-gray: #192128;
$white: #FFFFFF;

// Fonts
$font-family-sans-serif:
  "Inter",
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  "Roboto",
  "Helvetica Neue", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Grid
$grid-gutter-width: 24px;

// Headings
$headings-margin-bottom: 3rem;
$h2-font-size: 1rem;
$headings-font-weight: 400;
$display1-size: 2rem;
$display1-weight: 600;

// Body
$body-bg: $dark-gray;
$body-color: $white;

// Bootstrap Imports
@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/reboot";
@import "../bootstrap/scss/type";
@import "../bootstrap/scss/images";
@import "../bootstrap/scss/code";
@import "../bootstrap/scss/grid";
@import "../bootstrap/scss/buttons";
@import "../bootstrap/scss/utilities";

html, body, div#app {
  height: 100vh;
}

div#app {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1, h2 {
  text-align: center;
}

.dice {
  input[type=radio] {
    display: none;
    
    &:checked + label {
      box-sizing: border-box;
      border: 0.25rem solid $blue;
      box-shadow: 0px 8px 16px rgba(29, 110, 191, 0.32);
    }
  }

  &__btn {
    width: 100%;
    height: 6rem;
    margin-bottom: 1.5rem;
    background-color: $light-gray;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.25rem solid transparent;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.16);
    transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    cursor: pointer;
  }

  .btn {
    width: 100%;
    height: 48px;
    margin-top: 1.5rem;
    border-radius: 24px;
    font-weight: 600;
    box-shadow: 0px 8px 16px rgba(29, 110, 191, 0.32);
  }
}

.result {
  width: 50%;
  margin: 0 auto 2rem auto;
  padding-top: 50%;
  background-color: $light-gray;
  border-radius: 1.5rem;
  font-size: 6rem;
  font-weight: 600;
  position: relative;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.16);

  &__text {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@include media-breakpoint-up(lg) {
  div#app {
    justify-content: center;
  }

  .display-1 {
    font-size: 3rem;
  }

  .dice {
    &__btn {
      height: 8rem;
    }
  }

  .result {
    width: 100%;
    margin: 0 0 0 auto;
    padding-top: 100%;
  }

  h2 {
    font-size: 1.5rem;
  }

  h1, h2 {
    text-align: left;
  }
}